
@{
    ViewBag.Title = "PageBuy";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<section class="maincontent clearfix main mt-2">
    <div class="container my-3 py-4">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="category-tilte position-relative">
                    <h3 class="text-success">Chính sách bán hàng</h3>
                </div>
                <div class="py-4">
                    <h4>Đặt hàng</h4>
                    <ul>
                        <li>Cửa hàng Cây xinh rất hân hạnh được phục vụ quý khách.</li>
                        <li>
                            Hiện tại khách hàng có thể đến trực tiếp các địa chỉ mua hàng của Cây xinh để mua hàng trực tiếp hoặc đặt hàng. Đồng thời chúng tôi tiếp nhận đơn hàng qua điện thoại:
                        </li>
                        <li>
                            Hiện tại chúng tôi hỗ trợ đặt hàng với 03 hình thức sau đây:
                            <ul>
                                <li>- Đặt hàng trực tiếp tại cửa hàng.</li>
                                <li>- Đặt hàng trực tuyến.</li>
                                <li>- Đặt hàng qua hotline: 0925794461</li><br />
                            </ul>
                        </li>
                        <li>- Quý khách lựa chọn Sản phẩm phù hợp với nhu cầu và thêm vào giỏ hàng</li>
                        <li>- Cung cấp đầy đủ và chính xác thông tin giao hàng.</li>
                        <li>- Việc thanh toán sẽ được thực hiện trực tuyến thông qua hệ thống cổng thanh toán của đơn vị cung cấp dịch vụ trung gian thanh toán được tích hợp ngay trên Gian hàng.</li>
                        <li>- Các hình thức thanh toán được chấp nhận bao gồm: ATM; JCB; Master card; Visa; QR code;</li>
                        <li>- Quý khách vui lòng kiểm tra kỹ mọi thông tin liên quan đến Đơn đặt hàng trước khi Thanh toán. Sau khi thanh toán thành công, Đơn đặt hàng sẽ được tự động gửi vào hệ thống quản lý đơn hàng của Cây xinh.</li>
                        <li>- Đơn đặt hàng được Quý khách tạo lập và gửi cho Cây xinh theo cách thức trên được xem là một đề nghị giao kết hợp đồng mua bán Sản phẩm của Quý khách theo Chính sách chung này.</li>
                    </ul>
                    <h4>Xác nhận đơn hàng</h4>
                    <ul>-  Sau khi đặt hàng thành công, Quý khách sẽ nhận được thông báo xác nhận đơn hàng từ Cây xinh đã kèm theo mã Đơn đặt hàng và chi tiết về đơn hàng mà Quý khách đã đặt.</ul>
                    <ul>-  Trường hợp một đơn hàng có nhiều sản phẩm sau khi đã hoàn tất việc thanh toán, nếu Quý khách muốn hủy một sản phẩm trong đơn hàng hoặc muốn đổi một sản phẩm khác, vui lòng hủy đơn hàng hiện tại và đặt một đơn hàng mới.</ul>
                    <h4>Thay Đổi, Hủy Bỏ Giao Dịch tại</h4>
                    <ul>
                        Trong mọi trường hợp quý khách đều có quyền hủy bỏ đơn hàng sau khi thực hiện các biện pháp sau:
                        <br />
                        Khách hàng có thể tự hủy đơn hàng trên website (trước khi hàng được chuyển giao đi) hoặc thông báo cho về việc hủy đơn hàng qua đường dây nóng: 0925794461
                    </ul>

                    <h4>Chương Trình Ưu Đãi</h4>
                    <ul>Cây xinh có áp dụng chương trình chiết khấu ưu đãi dành cho khách hàng tại từng thời điểm cụ thể khác nhau.</ul>
                    <h4>
                        Mọi thắc mắc, tư vấn và đóng góp ý kiến xin liên hệ với chúng tôi qua:
                    </h4>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: 45 Tân Lập, Đông Hòa, Dĩ An, Bình Dương.
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-phone-square"></i> Số Điện Thoại: 0925794461

                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i> Email: cayxinh@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>