@model CayCanh.Models.Product

@{
    ViewBag.Title = "Xóa vĩnh viễn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/public/icon-font/fontawesome.com/css/all.min.css" />
;
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        THÙNG RÁC SẢN PHẨM
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th>Tên sản phẩm</th>
                    <th>Slug</th>
                    <th style="width:160px;" class="text-center">Ngày tạo</th>
                    <th style="width:200px;" class="text-center">Chức năng</th>
                    <th style="width:20px;" class="text-center">Mã</th>
                </tr>

            </table>
        </div>
        <div class="card-footer text-right">
            <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info">
                <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
            </a>
        </div>
    </div>
</section>
