
@{
    ViewBag.Title = "Paymentt";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";


<div class="container">
    <div class="py-5">
        <h5>Thanh toán thành công</h5>

    </div>
    <div class="">
        <button class="btn btn-success" type="submit">
            <a href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a>
        </button>
    </div>
</div>

