@model IEnumerable<CayCanh.Models.Category>

<script src="~/public/css/LayoutSite.css"></script>


<div class="ChooseByPrice ">
    <div class="card box tc cg" style="width:100%;">
        <div class="text-bg-success card-header text-center tk_tab">
            Chọn Theo Mức Giá
        </div>
        <ul class="ctmg text-center" id="filter_price" style="height: 150px; overflow: hidden;">
            <a class="text-dark" href="">20.000 - 100.000</a>
            <br />

            <a class="text-dark" href="">100.000 - 200.000</a>
            <br />

            <a class="text-dark" href="">200.000 - 300.000</a>
            <br />

            <a class="text-dark" href="">300.000 - 400.000</a>
            <br />

            <a class="text-dark" href="">400.000 - 500.000</a>
            <br />

            <a class="text-dark" href="">500.000 - 600.000</a><br />
        </ul>
        @*<div class="text-center"><a style="text-decoration: none" href="">Xem thêm</a></div>*@

        @*<span class="more"><a class="t2vn">Thêm</a></span>
        <span class="more"><a class="t2vn">thu gọn</a></span>*@
    </div>
</div>


@*<div class="box tc cg">
    <div class="tk_tab">
        Chọn theo mức giá
    </div>
    <ul class="ctmg" id="filter_price" style="height: auto; overflow: visible;">
        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=300000_500000"><b>300.000 - 500.000(93)</b></a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=500000_1000000">500.000 - 1.000.000(607)</a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=1000000_1500000">1.000.000 - 1.500.000(275)</a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=1500000_2000000">1.500.000 - 2.000.000(166)</a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=2000000_2500000">2.000.000 - 2.500.000(87)</a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=2500000_3000000">2.500.000 - 3.000.000(40)</a></li>

        <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=3000000_5000000">3.000.000 - 5.000.000(32)</a></li>

    </ul>
    <span class="more"><a class="t2vn">thu gọn</a></span>
</div>*@

<!--<div class="box tc cg">
    <div class="tk_tab">
        Chọn theo mức giá
    </div>-->
    @*<ul class="ctmg" id="filter_price" style="height: 120px; overflow: hidden;">
            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=20000_50000">20.000 - 50.000(93)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=50000_100000">50.000 - 100.000(607)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=100000_150000">100.000 - 150.000(275)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=150000_200000">150.000 - 200.000(166)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=200000_250000">200.000 - 250.000(87)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=250000_300000">250.000 - 300.000(40)</a></li>

            <li><a href="https://andy.vn/index.php?act=product/filter&amp;filter_price=300000_500000">300.000 - 500.000(32)</a></li>

        </ul>
        <span class="more"><a class="t2vn">Thêm</a></span>*@
<!--</div>-->
