
<link href="~/public/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/public/icon-font/fontawesome.com/css/all.min.css" rel="stylesheet" />

<div class="ProductInterested ">
    <div class="card" style="width:100%;">
        <div class=" text-bg-success card-header text-center">
            Liên Hệ
        </div>
        <div class="row" style=" height: 160px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 text-center">
                <i class="fa-solid fa-phone"></i><br /><br />
                <i class="fa-solid fa-phone"></i><br /><br />
                <i class="fa-solid fa-phone"></i><br />
                <i class="fa-solid fa-envelope text-danger"></i>
            </div>
            <ul class="col-lg-9">
                <li>
                    Tư vấn: 0925.794.461 <br /> Ms. Thảo Nhi(miễn phí)
                </li>
                <li>
                    Hotline: 094.339.8585 <br /> Mrs. Nga
                </li>
                <li>Đặt Hàng 0925.794.461</li>
                <li>cayxinh@gmail.com</li>
            </ul>
        </div>
    </div>
</div>




