@model IEnumerable<CayCanh.Models.Menu>
<link href="~/public/css/LayoutSite.css" rel="stylesheet" />


<section class="mainmenu bg-mainmenu">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-mainmenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @foreach (var menu in Model)
                        {
                            @Html.Action("MainMenuSub", "Module", new { @id = menu.Id })
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>


