

<div class="ProductInterested ">
    <div class="card" style="width:100%;">
        <div class=" text-bg-success card-header">
            <div class="row">
                <div class="col-lg-3 text-center text-yellow">
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <div class="col-lg-9">
                    <h5>Sản Phẩm</h5>
                    <h6>Bạn Đang Quan Tâm</h6>
                </div>
            </div>
        </div>
        <div class="text-center"style=" height: 100px;">
            <a>Chưa có sản phẩm</a>
        </div>
    </div>
</div>

@*<i class="fa-sharp fa-solid fa-star"></i>*@