

<!--<div class="ProductBuyHot">
    <div class="row">
        <div class="">
            <ul class="list-group g-md-2">
                <li class="list-group-item active text-bg-success">Sản Phẩm Bán Chạy</li>-->
                @*<li class="list-group-item p-2">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-fluid" src="~/public/image/product/sp1.jpg" />
                        </div>
                        <div class="col-md-7">
                            <h2 class="font16">Tên sản phẩm</h2>
                            <h3 class="font14">2.000.000 vnđ</h3>
                        </div>
                    </div>
                </li>*@
            <!--</ul>
        </div>
    </div>
</div>-->

<div class="ProductBuyHot ">
    <div class="card" style="width:100%;">
        <div class="text-bg-success card-header text-center">
            Sản Phẩm Bán Chạy
        </div>
        <ul>
            <li class="list-group-item p-2">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>